.weui-cells {
    margin-top:0px;
    font-size: 1.066667rem;
}
.weui-cells .weui-cell{
    padding: 0.333333rem 1rem;
}
.top-cells {
    padding-top: 1.333333rem;
}
.last-cells {
    margin-bottom: 3.03rem;
}
.weui-cells .weui-cell:first-child{
    height: 2.6rem;
}
.selection-area{
    display: none;
    padding-top: 0;
    padding-bottom: 0;
}
.weui-cells .weui-cell:first-child>div>img {
    width: 1.333333rem;
    height: 1.333333rem;
    background-image: url("../images/assessment/@2x/mess_icon_opti_defa-@2x.png");
    -webkit-background-size: 1.333333rem 1.333333rem;
    background-size: 1.333333rem 1.333333rem;
    margin-right: 0.666667rem;
    display: block;
}
.weui-flex__item {
    height: 3.266667rem;
    line-height: 3.266667rem;
    color: #999;
    font-size: 1rem;
}
input[type=checkbox] {
    vertical-align: middle;
}
.weui-btn-rea {
    height: 3rem;
}
.weui-btn-rea .weui-btn_primary {
    font-size: 1.2rem;
}
input[type=date]::-webkit-clear-button { display:none }
input[type=date],
input[type=text] {
    padding-bottom: 0.166667rem;
    padding-left: 0.333333rem;
    border: none;
    color: #000;
}
input[name=text] {
    height: 2.266667rem;
    width: 90%;
    font-size: 1rem;
    outline: none;
    background-color: #eeeeee;
    color: #b2b2b2;
}
input[name=text1] {
    border-bottom: 1px solid #000;
    outline: none;
    height: 1.933333rem;
    width: 50%;
    font-size: 1rem;
    color: #b2b2b2;
    vertical-align: middle;
    padding: 0;
}
.input-icon {
    display: inline-block !important;
    vertical-align: top !important;
    background-image: url("../images/assessment/@2x/mess_icon_input_defa@2x.png") !important;
}
.other-text{
    display: none;
}
.title .weui-cell__ft {
    width: 30%;
}
.smtz-title .weui-cell__ft {
    width: 30%;
}
.yszt-title .weui-cell__ft {
    width: 30%;
}
@media screen and ( -webkit-min-device-pixel-ratio : 3) {
    .weui-cells .weui-cell:first-child>div>img {
        width: 1.333333rem;
        height: 1.333333rem;
        background-image: url("../images/assessment/@3x/mess_icon_opti_defa-@3x.png");
        -webkit-background-size: 1.333333rem 1.333333rem;
        background-size: 1.333333rem 1.333333rem;
        margin-right: 0.666667rem;
        display: block;
    }
    .input-icon {
        background-image: url("../images/assessment/@3x/mess_icon_input_defa@3x.png") !important;
    }
}
@media screen and (min-device-width: 1080px) {
    .weui-cells .weui-cell:first-child > div > img {
        width: 40px;
        height: 40px;
        background-image: url("../images/assessment/@3x/mess_icon_opti_defa-@3x.png");
        -webkit-background-size: 40px 40px;
        background-size: 40px 40px;
        margin-right: 20px;
        display: block;
    }
    .weui-cells {
        margin-top: 0px;
        font-size: 32px;
    }
    .weui-cells .weui-cell {
        padding: 10px 30px;
    }
    .top-cells {
        padding-top: 40px;
    }
    .last-cells {
        margin-bottom: 99px;
    }
    .weui-cells:last-child {
        margin-bottom: 93px;
    }
    .weui-cells .weui-cell:first-child {
        height: 78px;
    }
    .selection-area {
        display: none;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .weui-flex__item {
        height: 98px;
        line-height: 98px;
        color: #999;
        font-size: 30px;
    }
    input[type=checkbox] {
        vertical-align: middle;
        zoom: 2 !important;
    }
    .weui-btn-rea {
        height: 90px;
    }
    .weui-btn-rea .weui-btn_primary {
        font-size: 36px;
    }
    input[type=date],
    input[type=text] {
        padding-left: 10px;
        padding-bottom: 5px;
    }
    input[name=text] {
        height: 68px;
        width: 90%;
        font-size: 30px;
        outline: none;
    }
    .input-icon {
        background-image: url("../images/assessment/@3x/mess_icon_input_defa@3x.png") !important;
    }
}